header {
	background-color: #000066;
	display: inline-block;
	width: 100%;
}
h1 {
	color: white;
	display: inline;
}
h2 {
	color: white;
	display: inline;
}
a {
	color: white;
}
#prof_pic {
	display: none;
}
.desktop {
	display: none;
}
.tablet {
	display: none;
}
.mobile {
	clear: both;
	margin: 0 auto;
}
@media screen and (min-width: 600px) {
	.tablet {
		display: inline;
	}
	.mobile {
		display: none;
	}
}