{% extends "templates/base.html" %}
{% block content %} 
	<form action="/edit_user" method="post">
		{% if failure %}
			<p>Bad credentials. Try again.</p>
		{% endif %}
		<label>
			old password: <input type="text" name="old_pw">
		</label>
		<label>
			new password: <input type="password" name="new_pw">
		</label>
		<label>
			confirm new password: <input type="password" name="confirm_new_pw">
		</label>
		<input type="submit" value="login">
	</form>
	<script type="text/javascript" src="/static/js/edit_user.js"></script>
{% endblock %}