{% extends "templates/base.html" %}
{% block content %} 
	<link rel="stylesheet" type="text/css" href="static/css/index.css"/>
	<div class="index">
		<h1>ABOUT ME</h1><br>
		<p>
			My name is Wilson Mullen--I am currently a junior attending the University of Michigan, majoring in Computer Science.
			I am 21 years old--I have 4 immediate siblings, and 4 step-siblings. To read more about me and the people important to me,
			look at the pictures and captions below. To learn about my work experience, skills, or interests, utilize the nav-bar above.
		</p>
		<h1>PICTURES</h1><br>
		<div class="pics">
			<div class="row">
				<div class="col-sm-6">
					<img src="/static/images/profile.jpg" alt="Wilson Mullen">
					<p>Wilson Mullen, aged 18</p>
				</div>
				<div class="col-sm-6">
					<img src="/static/images/baby.jpg" alt="Wilson at age 2">
					<p>Wilson Mullen, aged 2 and very interested in baseball</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<img src="/static/images/mom.jpg" alt="My mother and I">
					<p>Me (right) and my mother, Lisa Cermele (left)</p>
				</div>
				<div class="col-sm-6">
					<img src="/static/images/dad_and_rachel.jpg" alt="My father and step-mother">
					<p>My father, Paul Mullen (left) and step-mother, Rachel Mullen (right)</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<img src="/static/images/immediate_siblings.jpg" alt="My immediate siblings">
					<p>
						My immediate siblings and I from left to right: Julia Mullen, myself, Henry Mullen, Charlie Mullen.
						Not pictured: Samuel John Mullen (deceased 1998--honored by tree in center of picture)
					</p>
				</div>
				<div class="col-sm-6">
					<img src="/static/images/step_family.jpg" alt="Step family">
					<p>
						My step-family and I at wedding from left to right (front row): Ryan May, Gracie May, Henry Mullen;
						(back row): Justin May, Rachel Mullen, Paul Mullen, Julia Mullen, myself, Charlie Mullen, Matthew May
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<img src="/static/images/family_christmas.jpg" alt="Family Christmas">
					<p>
						My step-siblings and I at Christmas 2014 from left to right: Justin May, Julia Mullen, Ryan May, myself,
						Charlie Mullen, Henry Mullen, Gracie May, Matthew May
					</p>
				</div>
				<div class="col-sm-6">
					<img src="/static/images/henry_baseball.jpg" alt="Henry with baseball">
					<p>
						My younger brother, Henry Mullen, with one of his many baseballs that he caught attending different games.
						Fun fact--every professional baseball game he has attended, he has caught a baseball, as improbable as
						that may be.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<img src="/static/images/wilson_and_rachel.jpg" alt="Wilson and significant other, Rachel">
					<p>Myself (left) and my girlfriend of 2 1/2 years, Rachel Fisk (right) at Christmas, 2013.</p>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}