{%extends "templates/base.html" %}
{% block content %}
	<link rel="stylesheet" type="text/css" href="static/css/interests.css"/>
	<div class="interests">
		<div class="golf">
			<h1>GOLF</h1>
			<img id="golf" src="/static/images/golf.jpg" alt="golf profile">
			<p>
				When I was in 3rd-8th grade, I played various sports including football, baseball, and basketball.
				Following three consecutive years of injuries in 6th-8th grade including concussion, torn ACL, and broken hand,
				I decided to pursue less a contact-intensive sport--namely golf. I fell in love with the sport, eagerly
				follow the majors each year, and at my peak between high school and college played at a 2 handicap. Currently I
				play casually in the summer, and play at about an 8 or 9 handicap.
			</p>
		</div>
		<div class="soccer">
			<h1>SOCCER</h1>
			<img id="soccer" src="/static/images/liverpool.png" alt="liverpool pic">
			<a id="soccer_prev" href="">prev</a>
			------------------------------------
			<a id="soccer_next" href="">next</a>
			<p>
				Growing up in America, I never really followed soccer as a child--and it remains one of my great regrets in life.
				Following a second torn ACL my freshman year in college, I pretty much conceded any competitive athletic involvement;
				that being said, entering college I really started to follow European soccer. I closely follow the Premier League, and
				my favorite English team is Liverpool. I play FIFA 16 (probably a little too much), and eagerly look for any way to 
				further immerse myself in the sport.
			</p>
		</div>
		<div class="theater">
			<h1>THEATER</h1>
			<img id="theater" src="/static/images/romeo_and_juliet.jpg" alt="romeo and juliet cast">
			<a id="theater_prev" href="">prev</a>
			------------------------------------
			<a id="theater_next" href="">next</a>
			<p>
				I decided to branch out my senior year in high school. Previously having been quite the introvert, I auditioned for the
				school play (Romeo and Juliet) and school musical (Once Upon a Mattress), and I immediately fell in love. I found a new
				and unique way to express myself, and found a new passion. I briefly continued pursuing casual theater in college, playing
				Charles Dabernow Schmendiman in Michigan's RC Player's production of Picasso at the Lapin Agile my freshman year. Although
				my academic schedule has not allowed me to really pursue theater anymore, I attend any show I can, and have become immersed
				in the newest theater sensation, Hamilton the Musical.
			</p>
		</div>
		<div class="policy">
			<h1>POLICY DEBATE</h1>
			<img id="policy" src="/static/images/mndi_paul.jpg" alt="wilson and paul at MNDI">
			<a id="policy_prev" href="">prev</a>
			------------------------------------
			<a id="policy_next" href="">next</a>
			<p>
				In addition to sports, theater, and academics, I also enjoy politics and debate. In high school I joined the Speech and Debate
				Team and participated in policy debate for 3 years. Throughout that career, I learned to think critically, quickly analyze and
				engage in competitive argument, and develop a passion for politics. Indeed, it is policy debate that first introduced me to the
				University of Michigan--entering my junior and senior years of high school, I attended policy debate camps held by the University
				during the summer. Debating different topics such as military/police presence in foreign countries, space exploration/development,
				and transportation infrastructure, I gained a newfound perception on domestic and international politics and their influence on
				daily life. I was relatively successful as well--my senior year, my partner (Katja Molinaro, also a student at UM) and I reached at
				least the semifinals of every tournament we entered including the year-ending State competition, as well as qualifying for the 
				National competition (held in Birmingham, AL).
			</p>
		</div>
		<div class="acadec">
			<h1>ACADEMIC DECATHLON</h1>
			<img id="acadec" src="/static/images/acadec_captains.jpg" alt="acadec captains">
			<a id="acadec_prev" href="">prev</a>
			------------------------------------
			<a id="acadec_next" href="">next</a>
			<p>
				The most important thing I did in high school was join the Academic Decathlon team. A test-based academic competition surrounding a
				a single overarching theme each year (i.e. the Great Depression, Imperialism, Russia, etc.), Academic Decathlon is also a team-oriented
				competition, with teams being made up of vastly different GPA levels. Joining my sophomore year, our school had never won the State 
				Competition. By the time I graduated, we had won 3 consecutive State Competitions and 2 consecutive D-III National Competitions. 
				Co-captaining the team with my two best friends, Cliff Goertemiller (currently attending Harvard) and Herbert Sizek (currently attending
				Wooster College), I individually won top overall scorer	in the highest GPA division at each competition I attended my senior year. The
				Oakwood High School Academic Decathlon team, launched into relevance by Cliff, Herbert and I, have continued their meteoric rise into fame;
				they have now won 6 consecutive State Championships, 4 (going on 5) consecutive D-III National Championships, and as a small school are
				rapidly approaching truly contending and competing with the largest and best schools in the nation (i.e. Granada Hills Charter from CA).
			</p>
		</div>
	</div>
	<script type="text/javascript" src="/static/js/interests.js"></script>
{% endblock %}