{% extends "templates/base.html" %}
{% block content %} 
	<link rel="stylesheet" type="text/css" href="static/css/skills.css"/>
	<div class="skills">
		<h1>PROGRAMMING LANGUAGES</h1><br>
		<h2>C++</h2>
		<p>
			Advanced in object-oriented programming, data-structure and algorithm understanding. My best
			language in terms of proficiency and understanding. Good handle on personal memory management.
		</p>
		<h2>Python</h2>
		<p>
			Skilled with use of Python in terms of web development--use of Flask, Jinja, API development.
			Also skilled in terms of more general object oriented programming.
		</p>
		<h2>Java</h2>
		<p>
			Skilled in terms of object oriented programming; see C++ for types of skills, given that Java
			is similar to C++ only with easier memory management.
		</p>
		<h2>JavaScript</h2>
		<p>
			Skilled in dynamically updating and changing webpages; utilization of AJAX, asynchronous requests, etc.
		</p>
		<h2>Microsoft Visual Basic for Applications</h2>
		<p>
			Developed programs and functions for data analysis; given spreadsheets of data, created programs
			for new data analysis (looping through spreadsheets, dynamic analysis of data) in reasonable time.
		</p>
		<h2>MySQL</h2>
		<p>Proficiency in database development/management; used in terms of web-development and SalesForce databases.</p>
		<h1>OTHER SKILLS</h1><br>
		<h2>HTML</h2>
		<p>
			Can develop HyperText Markup Language pages for styling web-pages; utilized with CSS and JavaScript to
			create dynamic web pages.
		</p>
		<h2>CSS</h2>
		<p>Used in tandem with HTML and JavaScript to create aesthetically pleasing web pages.</p>
		<h2>Web Design/Development</h2>
		<p>
			Developed web-pages (both back and front ends)--created Python-based APIs to manage SQL
			databases of server-hosted information, and used JavaScript to dynamically change web pages
			without making new requests to servers. Learned web-search algorithms such as PageRank and HITS.
		</p>
		<h2>Computer/Web Security</h2>
		<p>
			Learned efficient and effective hashing/salting algorithms and their purposes; web-security (learned
			about SQL/JavaScript injections and prevention methods, etc.). Additionally, learned network security,
			buffer overflow security, etc.
		</p>
	</div>
	<script type="text/javascript" src="/static/js/skills.js"></script>
{% endblock %}