{% extends "templates/base.html" %}
{% block content %} 
	<link rel="stylesheet" type="text/css" href="static/css/skills.css"/>
	<div class="skills">
		<h1>PROGRAMMING LANGUAGES</h1><br>
		<h2>C++</h2>
		<p></p>
		<h2>Python</h2>
		<p></p>
		<h2>Java</h2>
		<p></p>
		<h2>JavaScript</h2>
		<p></p>
		<h2>Microsoft Visual Basic for Applications</h2>
		<p></p>
		<h2>MySQL</h2>
		<p></p>
		<h1>OTHER SKILLS</h1><br>
		<h2>HTML</h2>
		<p></p>
		<h2>CSS</h2>
		<p></p>
		<h2>Web Design</h2>
		<p></p>
		<h2>Computer/Web Security</h2>
		<p></p>
	</div>
{% endblock %}