{% extends "templates/base.html" %}
{% block content %}
	<div class="work">
		<link rel="stylesheet" type="text/css" href="static/css/work.css"/>
		<img id="crown" src="static/images/crown.png" alt="Crown Platforms">
		<p>
			During the summer I work for Razorfish Technology Platforms (Crown Platforms) in Dayton, Ohio. During this internship, I self-taught and
			mastered MySQL, Microsoft Visual Basic for Applications, and became acquainted with the SalesForce API. Other jobs include working at the
			University of Michigan in the Classical Studies Department; in this position I assisted the staff and professors by updating and fixing 
			their website through the Adobe Experience Manager.
		</p>
		<img id="kumon" src="static/images/kumon.png" alt="Kumon Math and Learning Center">
		<p>
			During high school, I used to be the assistant manager and tutor at Kumon Math and Learning Center in Dayton. I would help children from ages 5-17
			in different areas of mathematics (such as simple addition/subtraction for young children, up to introductory calculus and trigonometry for 
			high school students) and reading comprehension (understanding of letters and words for young children, to SAT level assistance for high
			school students). I would also help facilitate fund transfter, distribution of homework to students, analysis of students' progress, and
			general oversight of the office.
		</p>
		<img id="ameriprise" src="static/images/ameriprise.jpg" alt="Ameriprise Financial Services">
		<p id="last">
			Lastly, I worked at Ameriprise Financial in Dayton, OH during the summer of 2013. I learned stock analytics, helped customer service, and 
			general assistance to the staff.
		</p>
		<p><a href="/static/files/resume_mullen.pdf" download="muwilson_resume"/>Resume</a><p>
	</div>
{% endblock %}